.bg-color{
    background-color: papayawhip;
}
.banner-items{
    align-items: center;
    margin-left: 10px;
}
.img-h{
    height: 100px;
}
.margin{
    margin-bottom: 50px;
    margin-top: 100px;
}
.last-sec{
    height: 500px;
    background-color: lightpink;
}